.mind-thread {
    @include thread(getColor("mindBackgroundColor"));
}

.mind-thread {
    font-size: 24px;
}

.thought-list__item {
    display: flex;
}

.thought-list__thought {
    display: flex;
}


.clear-btn {
    background-color: transparent;
    border: none;

    color: getColor("textColor");
}

.thought--canvas {
    cursor: none;
}