body {
    padding-top: 60px;

    font-size: 24px;
    font-family: getFont("textFont");

    color: getColor("textColor");
}

button:hover,
label:hover,
select:hover {
    cursor: pointer;
}

button[disabled] {
    color: #778899;
}

.title {
    display: inline-block;
    margin: 0 auto 30px;

    font-size: 28px;
    font-weight: 700;
}

.title-wrapper {
    text-align: center;
}

.add-btn {
    @extend %centered;

    font-family: inherit;
    font-size: 16px;

    border: none;
    color: getColor("textColor");
    background-color: transparent;
}

.remove-btn {
    @extend %centered;
    width: 24px;
    height: 24px;
    margin-left: 5px;

    background-color: transparent;
    border: none;

    color: getColor("textColor");
}

.edit-btn {
    @extend %centered;
    background-color: transparent;
    border: none;
    
    color: getColor("textColor");

    .material-icons {
        font-size: 42px;
    }
}

.rename-btn {

    width: 24px;
    height: 24px;
    @extend %centered;
    background-color: transparent;
        border: none;

    color: getColor("textColor");
}