.work-thread {
    @include thread(getColor("workBackgroundColor"));
}

.work-thread {
    position: relative;
}

.work-thread::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(1px);
    display: inline-block;

    height: 100%;
    width: 2px;
    background-color: getColor("dividerColor");
}



.add-task-btn,
.add-subtask-btn {
    border-radius: 50%;
    background-color: transparent;

}

.task-wrapper {
    display: flex;
}

.edit-panel {
    display: flex;
}

.subtask {
    display: flex;
}

.add-timer-btn {
    width: 25px;
    height: 25px;
    @extend %centered;

    background-color: transparent;
    color: getColor("textColor");
    border: none;
}

.timer__wrapper {
    display: flex;
}

.work-session {
    display: flex;
}
.timer__control {
    background-color: transparent;
    border: none;
    color: getColor("textColor");
}