.container--workspace {
    display: flex,
}

.work-thread {
    background-color: $workBackgroundColor;
    width: 50vw;
    min-height: 100vh;
}

.mind-thread {
    background-color: $mindBackgroundColor;
    width: 50vw;
    min-height: 100vh;
}
