.container--workspace {
    display: flex,
}

.work-thread {
    background-color: $workBackgroundColor;
    width: 50vw;
    height: 100vh;
}

.thoughts-thread {
    background-color: $thoughtsBackgroundColor;
    width: 50vw;
    height: 100vh;
}
