.work-thread {
    @include thread(getColor("workBackgroundColor"));
}

.work-thread {
    position: relative;
}

.work-thread::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(1px);
    display: inline-block;

    height: 100%;
    width: 2px;
    background-color: getColor("dividerColor");
}



.add-task-btn,
.add-subtask-btn {
    border-radius: 50%;
    background-color: transparent;

}

.edit-btn {
    background-color: blue;
    height: 10px;
    width: 20px;
}

.rename-btn,
.remove-btn {
    height: 5px;
    width: 5px;
}

.rename-btn {
    background-color: green;
}

.remove-btn {
    background-color: red;
}

.task-wrapper {
    display: flex;
}

.edit-panel {
    display: flex;
}

.subtask {
    display: flex;
}

.add-timer-btn {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: yellow;
}

.timer__wrapper {
    display: flex;
}

.work-session {
    display: flex;
}