<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MindLog</title>

        <link rel="icon" type="image/svg" sizes="32x32" href="../static/images/logo.svg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Playpen+Sans:wght@400;700&display=swap"
            rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <link rel="stylesheet" href="../static/css/main.min.css">
    </head>
    <body>
        <header class="header">
            <h1 class="logo">Mind Log</h1>
        </header>

        <main>
            {% block main %}
            {% endblock %}
        </main>

        <div class="brush visually-hidden">
            <svg width="20px" height="20px">
                <use href="../static/images/brush_black_24dp.svg#brush"></use>
            </svg>
        </div>

        <script type="module" src="../static/js/work-thread.js"></script>
        <script type="module" src="../static/js/mind-thread.js"></script>
    </body>
</html>


